body {
  max-width: 1100px;
  margin: auto;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  padding: 15px;
}

#map {
    height: 85vh;
    width : 100%;
    margin-top: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }

h2{
    color: black;
    text-align: center;
    font-family: Arial;
    border : 7px double #000;
    background-color: white;
    margin-bottom: 10px;
}

.explain {
  padding-top: 1px;
  background: #f7f7f7;
  padding: 12px 15px;
  border-radius: 6px;
  border-left: 4px solid #4682B4;
  margin-bottom: 15px;
}

#electionChoice, #selectNuance {
  margin-top: 10px;
}

.info.legend {
  padding: 8px 12px;
  background: white;
  line-height: 18px;
  color: #333;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-size: 14px;
}
.info.legend i {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 8px;
  opacity: 0.9;
}

.info.legend b {
  font-size: 15px;
  display: block;
  margin-bottom: 0px;
}

.legend-line {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr{
  font-size: 14px;
}

table tr:not(:first-child) td {
  font-size: 12.5px;
}

td {
  padding: 8px 12px;
  vertical-align: top;
}

ul {
  margin: 0;
  padding-left: 20px;
}
